.pixel-background-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -10;
  image-rendering: pixelated;
  pointer-events: none;
  user-select: none;
}
