html,
body {
  cursor: url("/rpgui/img/cursor/default.png"), auto !important;
}

a,
button,
.pixel-btn,
.pixel-btn-small,
.rpgui-button,
.nav-btn,
.rpgui-cursor-point {
  cursor: url("/rpgui/img/cursor/point.png"), auto !important;
}

input[type="text"],
textarea,
.rpgui-cursor-select {
  cursor: url("/rpgui/img/cursor/select.png"), auto !important;
}

.grab,
.rpgui-cursor-grab {
  cursor: url("/rpgui/img/cursor/grab-open.png"), 8 8, grab !important;
}

.grabbing,
.rpgui-cursor-grabbing {
  cursor: url("/rpgui/img/cursor/grab-close.png"), 8 8, grabbing !important;
}
